*, *:before, *:after {
	box-sizing: border-box;
}

body{
	display:grid;
	grid-template-columns: 1.5fr 1fr 2fr 1fr 1.5fr;
	grid-template-rows: 31px 100px 10% auto;
	background: blue;
}
header{
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 2;
	grid-row-end:3;
	background: tomato;
}


.adalgrein{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	background:skyblue;
}
.vinstri {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start:3;
	grid-row-end: 4;
	background:grey;
}

.haegri {
	grid-column-start: 1;
	grid-column-end:4;
	grid-row-start:2;
	grid-row-end:3;
	background: grey;
}
.kafli-1{
	grid-column-start:1;
	grid-column-end:4;
	
}

footer{
	grid-column-start:1;
	grid-column-end: 5;
	grid-row-start:4;
	grid-row-end:5; 
	background: lightgreen;
}
.topnav{
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
	background:black;
}
header,
footer,
.adalgrein,
.vinstri,
.haegri{
	padding:1em;
}
header h1{
	color:#fff;
	line-height:1.2;
	font-weight:normal;
}
.adalgrein h2{
	margin: .6em 0 .5em 0;
}

.topmenu{
	display:flex;
	flex-flow:column;
	padding: 0;
	margin: 0;
	list-style:none;
}
.topmenu a{
	display:block;
	color: #fff;
	text-decoration:none;
	padding: .4em;
	text-align:center;
	border-bottom: 1px solid lime;
}
.topmenu a:hover,
.topmenu a:active,
.virkur {
	color:black;
	background-color:lime;
	transition: all .5s ease;

}
body{
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 10% auto;
	background: blue;
	}
	
	.topnav{
		grid-column-start:1;
		grid-column-end:6;
		grid-row-start:1;
		grid-row-end:2;
	}
	header{
		grid-column-start:1;
		grid-column-end:6;
		grid-row-start:2;
		grid-row-end:3;
	}

	.adalgrein{
		grid-column-start:1;
		grid-column-end:5;
		grid-row-start:3;

	}
}
/* == Viðmið 37.5 (600px) */

@media screen and (max-width: 767px){
	
	body{
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 10% auto;
	background: blue;
	}
	
	.topnav{
		grid-column-start:1;
		grid-column-end:6;
		grid-row-start:1;
		grid-row-end:2;
	}
	header{
		grid-column-start:1;
		grid-column-end:6;
		grid-row-start:2;
		grid-row-end:3;
	}

	.adalgrein{
		grid-column-start:1;
		grid-column-end:5;
		grid-row-start:3;

	}
}

/* == Viðmið 48em (760px) */
@media screen and (min-width: 48em){
	.topnav{
		grid-column-start:1;
		grid-column-end:4;
		grid-row-start:1;
		grid-row-end:2;
	}
	.topmenu{
		display:flex;
		flex-flow:row;
		justify-content:center;
	}
	.topmenu a{
		padding:.4em 2em;
		border-width:0;
		border-right:1px solid lime;
	}
	.topmenu li:first-child{
		border-left:1px solid lime;
	
}

/* == Viðmið 60em (960px) */
@media screen and (min-width: 60em){
	body{
		max-width:60em;
		margin: 0 auto;
		background: blue;
	}
}

/* == Viðmið 80em (960px) */
@media screen and (min-width: 80em){
	body{
		max-width:80em;
		margin: 0 auto;
		background: blue;
	}
}
-
